<header class="header">
    <div class="dlb-navbar">
      <a href="https://www.dialoguebranch.com/"><img class="dlb-navbar-logo" src="https://www.dialoguebranch.com/img/dlb-square.png"></a>
      <label for="hamburger">&#9776;</label>
      <input type="checkbox" id="hamburger"/>
      <ul>
        <li><a class="dlb-navbar-link" href="https://www.dialoguebranch.com/">Home</a></li>
        <li><a class="dlb-navbar-link" href="https://www.dialoguebranch.com/docs/">Documentation</a></li>
        <li><a class="dlb-navbar-link" href="https://www.dialoguebranch.com/about/">About</a></li>
        <li><a class="dlb-navbar-link" href="https://www.dialoguebranch.com/news/">News & Updates</a></li>
      </ul>
    </div>
</header>
