/build/
/bin/
/secrets.env
/.gradle/
/.idea/
/gradle.properties
/src/main/resources/deployment.properties
/src/main/resources/dialogues/*
!/src/main/resources/dialogues/README.md
!/src/main/resources/dialogues/en/basic.dlb
!/src/main/resources/dialogues/nl/basic.dlb
/config/log/
/config/users.xml

